<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{name}}</p>
  <p>it looks like a password change for your account has been requested</p>
  <p>if it was you, then click on the link below</p>
  <p>
    <a href="{{link}}"> Reset my password</a>
  </p>
  <p>if it wasn't you, discard this email</p>
  <p>Thanks! <br /><strong>GoBarber Team</strong></p>
</div>